
body {
  color: #444444;
}

p {
  font-weight: lighter;
}

.title {
  font-size: 2rem;
  color: $dino-dark;
  font-weight: bold;
}

// ACTIVITY

.account {
 margin-bottom: 70px;
}

.user {
  margin-top: 50px;
  width: 500px;
  padding-bottom: 30px;
  border-bottom: 0.5px solid lightgrey;
}

.user-greet {
  border-bottom: 0.5px solid lightgrey;
  padding-bottom: 40px;
}

.user-dino {
  margin-top: 40px;
  padding-bottom: 30px;
  border-bottom: 0.5px solid lightgrey;
}

.user-booking {
  margin-top: 40px;
}

.user-dino-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.booking-detail {
  margin-right: 10px;
}

.dino-pp {
  border-radius: 5px;
  object-fit: cover;
}

.mb-1 {
  text-decoration: none;
}

.mb-3 {
  font-weight: lighter;
  font-size: 15px;
}

// PROFILE

.profile {
  display: flex;
  margin-top: 50px;
  // position: sticky;
}

.profile-box {
  width: 250px;
}

.container-avatar {
  padding-right: 15px;
  padding-left: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 4px;
  padding-bottom: 15px;
  height: 450px;
}

.flex-item {
  align-items: center;

}

.profile-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.5px solid lightgrey;
}

.profile-description {
  margin-top: 20px;
}

.avatar-account {
  width: 140px;
  border-radius: 50%;
  height: 140px;
  margin-bottom: 30px;
}

