.container-avatar {
  width: 600px;
  padding-right: 15px;
  padding-left: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 4px;
  padding-bottom: 15px;
}

.flex-item {
  align-items: center;

}

.profile-position {
  display: flex;
  justify-content: center;
  margin-top: 100px
}

.profile-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-description {
  margin-top: 20px;
}

.avatar-account {
  width: 140px;
  border-radius: 50%;
  height: 140px;
}

