
#background_image {
  background-image: url('dino1.jpg'), linear-gradient(rgba(0,0,0,5.3));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 66px);
}

.login_form {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  background-color: white;
  border-radius: 5px;
  opacity: 0.9;
}

.banner{
  background-image: url('dino1.jpg');
  width: cover;
  height: 100vh;
  position: relative;
}


.button {
  position: absolute;
  border: 3px solid white;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  top: 65%;
  left: 10%;
}
