
.search {
    left: 10%;
    top: 20%;
    width: 300px;
    border: 0.5px solid lightgrey;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    color: #444444;
    h4 {
      font-weight: bold;
    }
    p {
      margin-bottom: 5px;
    }
    .btn {
      background-color: #d23b4c;
      color: white;
      font-size: 16px;
    }
}

#background_image {
  background-image: url('dino1.jpg'), linear-gradient(rgba(0,0,0,5.3));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 66px);
}

.login_form {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  background-color: white;
  border-radius: 5px;
  opacity: 0.9;
}
.banner {
  background-image: url("https://images.squarespace-cdn.com/content/595ec7a636e5d3078c603268/1509410747641-DPSEUM9R18ND01V0KQ0D/3+dinosaurs.JPG?format=1000w&content-type=image%2Fjpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative;
}
