// Import page-specific CSS files here.
@import "home";
@import "show";
@import "account";

@import "components/navbar";
@import "components/avatar";
@import "dinosaurs/index";
@import "dinosaurs/new";
@import "dinosaurs/edit";
@import "components/card_dino"

