<div class="container justify-content-center">
  <h1 class="text-center">Hello To The list of Dinos</h1>

  <div class="container d-flex p-0">
    <div class="container bg-white">CARD_LIST_PLACEHOLDER</div>
    <div class="container bg-primary">MAP PLACE_Holder</div>
  </div>
</div>
