<div class="">
  <div class="d-flex p-0">
    <div class="container bg-white">
        <% @dinosaurs.each |dino| do %>
        <%= render 'shared/card_dino' %>
    </div>
    <div class="container bg-primary">
      <%= render 'shared/map' %>
    </div>
  </div>
</div>
