<body>
  <div id="background-img">
    <div class="position">
      <div class="wrapper">
        <h1>What kind of Dino do you want to host?</h1>

        <%= render "form", dinosaur: @dinosaur %>

      </div>
    </div>
  </div>
</body>
