<!-- <h1>Hello, I am <%= @user.name %>!</h1>
<p> link_to "Edit", edit_user_registration_path</p>

<h2>Account details</h2>

<p> Username: <%= @user.name %> </p>

<p> Email: <%= @user.email %> </p>

 --><!-- <p> Picture: <%#= image_tag 'dinohost.jpg', class="img-thumbnail" %> </p> -->

