<div class="card-product border-bottom border-secondary">
  <div class="card-product-infos">
    <h2><%= dino.name %></h2>
    <p>€ <%= dino.price %></p>
    <div class="ml-auto">
      <%= link_to "🗑", dinosaur_path(dino.id), method: :delete %>
    </div>
  </div>
  <img class=" ml-auto" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
</div>
