<div class="card-product border-bottom border-secondary">
  <div class="card-product-infos">
    <div class="card-text">
      <h2 class="card-title-name"><%= dino.name %></h2>
      <h6><%= dino.location %></h6>
      <p>€ <%= dino.price %></p>
    </div>
    <div class="ml-auto">
      <% if policy(dino).destroy? %>
        <%= link_to "🗑", dinosaur_path(dino.id), method: :delete %>
      <% end %>
    </div>
  </div>
  <img class=" ml-auto" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
</div>
