.search-card {
  border-bottom: 0.5px solid lightgrey;
  border-top: 0.5px solid lightgrey;
  padding: 20px 20px;
}

.form-dino {
  display: flex;
}

.btn-dino {
 background-color: black;
 color: white;
 border: 2px solid black;
 border-radius: 30px;
 padding: 0px 20px;
 margin-left: 5px;
}

.search-location-dino {
  border: 2px solid black;
  border-radius: 30px;
}

.search-all-dino {
  background-color: white;
  color: #444444;
  width: 300px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  border-bottom: 1;
}

.card-product img {
  height: 90%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
