
// /* We just give you a Gmaps with random width/height */
#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.mapboxgl-popup {
  max-width: 200px !important;
  img {
    padding: 0px !important;
    width: 200px;
    object-fit: cover;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
  }
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 0px !important;
  border-radius: 10px !important;
  line-height: 10px !important;
  p {
    text-align: left;
    padding-left: 10px;
    font-size: 15px
  }
  h2 {
    font-size: 20px;
    padding-left: 7px !important;
    padding-right: 7px !important;
  }
}
